<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReciInScan</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body class="center">
<form method="POST" action="">
    <div class="login-div">
        <h1>RecInScan</h1>
        <div class="login-layout">
            <div>
                <label for="user">Username:</label>
                <input type="text" id="user" name="username" placeholder="Enter your username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="login-button">
                <button type="submit" id="login" name="login">Login</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>